<h1>Ask</h1>

<form action="/answer" data-turbo="false" class="questions">
  <input type="text" name="questions" class="questions-input">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
